<p>
<%= link_to 'new article', '/articles/new' %>
</p>

<ul>
  <% @articles.each do |article| %>
    <li>
      <p><%= article.title %></p>
      <p><%= article.content %></p>
      <p>Written by <%= article.author %> at <%= Date.strptime("#{Article.first.created_at}", '%Y-%m-%d') %></p>
      <%= link_to 'Edit Article', edit_article_path(article) %><br/>
      <%= link_to 'Show', article_path(article)%>
    </li>
  <% end %>
</ul>
